<div id="sl_homepage" class="sl_main_content">
	{{> header site}}
	{{> 01-hero homepage.hero}}
	<a id="sticky-trigger"></a>
	{{> 02-info homepage.info}}
	{{> 03-about homepage.about}}
	{{> 04-info-cta homepage.info-cta}}
	{{> 05-insurance homepage.insurance}}
</div>

{{> sticky-cta }}
{{> 06-footer homepage.footer}}