.sl_header {
    padding: $spacing--md 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    @include breakpoint (small only) {
        padding: 0;
        padding-bottom: $spacing--xs;
        border-bottom: 1px solid get-color(inverse);
        position: static;
        background-color: #293855;
    }//end small only breakpoint

    .sl_inner {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        @include breakpoint (small only) {
            padding: 0;
            flex-direction: column;
        }//end small only breakpoint
    }//end .sl_inner

    img {
        max-height: 58px;
        max-width: 203px;

        @include breakpoint (small only) {
            order: 2;
            margin-top: $spacing--xs;
        }//end small only breakpoint
    }//end img

    a {
        color: get-color(primary);
        font-size: 2rem;
        font-weight: 900;
        line-height: 46px;
        text-align: center;

        span {
            margin-right: $spacing--xs;
        }//end span

        @include breakpoint (medium only) {
            color: get-color(inverse);
        }//end medium only breakpoint

        @include breakpoint (small only) {
            order: 1;
            background-color: get-color(secondary);
            color: get-color(inverse);
            width: 100%;
            padding: $spacing--xs/2 $spacing--sm;
            font-size: 1.5rem;
        }//end small only breakpoint
    }//end a
}//end .sl_header

.sl_thankyou_content {
    .sl_header {

        .sl_inner {
            max-width: none;
        }//end .sl_inner

        &:before {
            content: '';
            background-image: url('../img/thank-you/phpheader_corner.png');
            background-size: 100%;
            background-position: left bottom;
            width: 481px;
            height: 337px;
            position: absolute;
            left: -50px;
            top: -57px;

            @include breakpoint (small only) {
                display: none;
            }//end small only breakpoint
        }//end &:before

        @include breakpoint (small only) {
            border-bottom: none;
        }//end small only breakpoint
    }//end .sl_header
}//end .sl_thankyou_content