/*
 * Typography
*/

$font--medium: 'Avenir LT W01_65 Medium1475532', Helvetica, sans-serif;
$font--heavy: 'Avenir LT W01_95 Black1475556', Helvetica, sans-serif;
body, p {
	font-family: $font--medium;
}//end body p

p, li {
	font-size: 1.375rem;
	line-height: 1.25;

	@include breakpoint (small only) {
		font-size: 1.25rem;
	}//end small only breakpoint
}

li {
	line-height: 2rem;

	&:not(:last-of-type) {
		margin-bottom: $spacing--xs;
	}
}

h1, h2, h3, h4, h5, a {
	font-family: $font--heavy;
	line-height: 1.25;
}//end headings and a

th, td {
	font-family: $font--medium;
}
