<form class="sl_form" action="https://formcarry.com/s/rg-C1Jmtq_82" method="POST" accept-charset="UTF-8">
    <input type="text" id="firstname" name="firstName" placeholder="First Name *" required>
    <input type="text" id="lastname" name="lastName" placeholder="Last Name *" required>
    <input type="text" id="email" name="email" placeholder="Email Address *" required>
    <input type="hidden" name="_gotcha"><!-- use this to prevent spam -->
    <input type="submit" value="Get the Guide" class="sl_button">
</form><!-- /.sl_form -->