$site-palette: (
  primary:    #1C355E,
  secondary:  #009E91,
  default:    #4A4A4A,
  inverse:    #FFFFFF,
  accent1:    #00857A,
  accent2:    rgba(2,180,165,0.03),
  accent3:    rgba(2,180,165,0.09),
);