<!-- BILLBOARD -->
<section id="download" class="sl_module sl_billboard" style="background-image: url({{banner}})">
    <div class="sl_inner">
        <div class="sl_billboard__card sl_card">
            {{#markdown}}{{title}}{{/markdown}}
            <p>{{info}}</p>
            {{> form}}
        </div><!-- /.sl_billboard__card -->
    </div><!-- /.sl_inner -->
</section>
<!-- END BILLBOARD -->
