    <!-- INFO -->
    <section class="sl_module sl_info">
        <div class="sl_inner">
            <h2>{{header}}</h2>
            <div class="sl_info__grid">
                <div class="sl_row medium-up-2 small-up-1">
                    {{#each items}}
                    <div class="sl_info__items columns">
                        <div class="sl_card sl_info__card">
                            <div class="sl_info__card__image">
                                <img alt="{{h3}}" src="{{icon}}"/>
                            </div>
                            <div class="sl_info__card__content">
                                <h3>{{h3}}</h3>
                                <p>{{paragraph}} <a href="#download" data-smooth-scroll>{{cta}}</a></p>
                            </div><!-- /end .sl_info__content -->
                        </div><!-- /end .sl_info__card -->
                    </div><!-- /end .sl_info__items -->
                    {{/each}}
                </div><!-- end .row -->
            </div><!-- end .sl_info__services -->
        </div><!-- /.sl_inner -->
    </section>
    <!-- END INFO -->