<!-- ABOUT -->
<section class="sl_module sl_about" style="background-image: url({{image}})">
    <div class="sl_inner">
        <div class="sl_about__card sl_card">
            <h3>{{header}}</h3>
            <p>{{paragraph}}</p>
        </div><!-- /.sl_about__card -->
    </div><!-- /.sl_inner -->
</section>
<!-- END ABOUT -->