<!-- INFO-CTA -->
<section class="sl_module sl_infocta">
    <div class="sl_inner">
        <h2>{{header}}</h2>
        <div class="sl_infocta__grid row small-up-1 medium-up-1 large-up-3">
            {{#each cards}}

            <div class="sl_cell column">
                <div class="sl_infocta__card">
                    <div class="sl_infocta__card__image" style="background-image: url({{image}})"></div>
                        <div class="sl_infocta__card__content">
                            <h3>{{h3}}</h3>
                            <p>{{paragraph}}</p>
                        </div><!-- end .sl_infocta__card__content -->
                </div><!-- end .sl_infocta__card -->
            </div><!-- end .sl_cell -->

            {{/each}}
        </div>
        <div class="sl_infocta__cta">
            <h3>{{cta.header}}</h3>
            <p>{{cta.paragraph}}</p>
            <a class="sl_button" href="#download" data-smooth-scroll>{{cta.button-text}}</a>
        </div><!-- /.sl_infocta__cta -->
    </div><!-- /.sl_inner -->
</section>
<!-- END INFO-CTA -->