<!-- FOOTER -->
<section class="sl_footer">
    <div class="sl_inner">
        <div class="row">
            <div class="sl_footer__content columns small-12 medium-8">
                {{#each items}}
                <p>{{text}}</p>
                {{/each}}
            </div>
            <div class="sl_footer__logo columns small-12 medium-4">
                <img src="{{logo}}">
            </div>
        </div>
    </div><!-- /.sl_inner -->
</section>
<!-- FOOTER -->