<div id="sticky-cta" class="sticky-cta show-for-medium">
	<div class="sl_inner">
	<div class="grid-x">
		<div class="cell">
			<h2>Questions About Medicare?</h2>
		</div>
		<div class="cell">
			<div class="expanded button-group" data-smooth-scroll>
		        <a class="sl_button" href="#download">Get the Guide</a>
		    </div><!--/.expanded.button-group-->
		</div>
	</div>
	</div>
</div>