<!-- THANK YOU -->
<section class="sl_module sl_thankyou" style="background-image: url({{banner}})">
    <img href="{{corner}}">
    <div class="sl_inner">
        <div class="sl_thankyou__card sl_card">
            <h1>{{header}}</h1>
            <p>{{paragraph}}</p>
            <a class="sl_button" href="{{download}}" download>{{button-text}}</a>
        </div><!-- /.sl_thankyou__card -->
    </div><!-- /.sl_inner -->
</section>
<!-- END THANK YOU -->