.sl_button {
	display: inline-block;
	padding: $spacing--xs $spacing--md;
	background-color: get-color(secondary);
	font-weight: 900;
	color: get-color(inverse);
	font-size: 1.125rem;
	border-radius: $border-radius;

	&:hover {
		background-color:#02B4A5;
		color:#fff;
	}//end &:hover
}//end .sl_button