.mobile-header {
    text-align:center;
    border-bottom:1px solid #fff;
    .phone-mobile {
        background-color: #009E91;
        padding: $spacing--xs;
    
        a {
            color: #FFFFFF;
            font-family: Avenir;
            font-size: 24px;
            font-weight: 900;
            letter-spacing: 0;
            line-height: 33px;
            text-align: center;
        }
    }

    img {
        max-height: 58px;
        max-width: 203px;
        margin: $spacing--xs;
    }

    @include breakpoint (medium up) {
        display:none;
    }
}