.sticky-cta {
	position: fixed;
	bottom: 0;
	left: 0;
    right: 0;
    background-color: #F5F7F9;
	box-shadow: 0px -2px 10px rgba(0,0,0,.10);
	padding: $spacing--xs 0;
	height: 88px;
    transform: translateY(90px);
    @include transition (all .4s ease-in-out);
    z-index: 9999;
    
	.grid-x {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		.cell {
			width: auto;

			* {
				margin-bottom: 0;
			}
		}//end .cell
	}//end .grid-x

	&.sticky-visible {
        transform: translateY(0px);
        @include transition (all .4s ease-in-out);
    }//emd .sticky-visible

    h2 {
        color: #1C355E;
        font-family: Avenir;
        font-weight: 700;
    }
    
    .sl_button {
        flex: 0 1 auto;
        padding: 11px 32px;
        border-radius: 3px;
        background-color: #009E91;
        color: #FFFFFF;
        font-family: Avenir;
        font-size: 18px;
        font-weight: 900;
        line-height: 25px;
        text-align: center;

        &:hover {
            background-color:#02B4A5;
            color:#fff;
        }//end &:hover
    }//end .sl_button

}//end .sticky-cta