.sl_about {
    background-size: cover;
    background-repeat: no-repeat;
    padding: $spacing--xxxl 0;

    @include breakpoint (large only) {
        background-position: top right;
    }//end large only breakpoint

    @include breakpoint (medium only) {
         background-image: url('../img/aboutguy-mobile.jpg') !important;
         padding: $spacing--xl 0;
    }//end medium only breakpoint

    @include breakpoint (small only) {
        background-image: url('../img/aboutguy-mobile.jpg') !important;
        padding: $spacing--lg 0;
    }//end small only breakpoint

    .sl_inner {
        display: flex;
        justify-content: flex-end;
    }//end .sl_inner

    &__card {
        max-width: 800px;

        @include breakpoint (medium only) {
            margin: 0 auto;
        }//end medium only breakpoint

        h3 {
            color: #1C355E;
            font-size: 3rem;
            margin-bottom: $spacing--md;

            @include breakpoint (small only) {
                font-size: 2rem;
            }//end @include breakpoint (small only)
        }//end h3

        p {
            color: #4A4A4A;
            font-size: 1.375rem;
            margin-bottom: $spacing--md;
            white-space: pre-line;
        }//end p

        & > :last-child {
            margin-bottom: 0;
        }//end & > :last-child
        
    }//end &__card
}//end .sl_about