.sl_footer {
    background-color: get-color(primary);
    padding: $spacing--xxl 0;
    padding-bottom: $spacing--xxl + rem-calc(88px);

    &__content {

        @include breakpoint (small only) {
            order: 2;
        }//end small only breakpoint
        p {
            color: get-color(inverse);
            font-size: 1rem;
            font-weight: 900;
        }//end p
    }//end &__content

    &__logo {
        text-align: center;

        @include breakpoint (small only) {
            order: 1;
            margin-bottom: $spacing--sm;
        }//end small only breakpoint

        img {
            height: 60px;
            width: auto;
        }//end img
    }//end &__logo

    @include breakpoint (medium only) {
        padding: 6rem 0;
    }//end medium only breakpoint

    @include breakpoint (small only) {
        padding: $spacing--md 0;
    }//end small only breakpoint
}