.sl_billboard {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    padding-top: 122px;

    @include breakpoint (medium only) {
        background-image: url('../img/hero-mobile.jpg') !important;
        background-position: center center;
    }//end medium only breakpoint

    @include breakpoint (small only) {
        background-image: url('../img/hero-mobile.jpg') !important;
        background-position: center center;
        padding-top: 0;
        padding-bottom: $spacing--xxxl;
    }//end small only breakpoint

    .sl_inner {
        position: relative;
        z-index: 1;
    }//end .sl_inner

    &__card {
        padding: $spacing--xl 0;
        max-width: 800px;

        @include breakpoint (small only) {
            padding: $spacing--lg 0;
        }//end @include breakpoint (small only)

        h1 {
            color: #FFFFFF;
            font-size: 2.75rem;
            line-height: 3.5rem;
            max-width:560px;
            margin-bottom: $spacing--sm;
            font-family: $font--medium;

            strong {
                font-family: $font--heavy;
            }//end strong

            &:before {
                content:'';
                display: block;
                width: 86px;
                height: 3px;
                background-color: #FFFFFF;
                margin-bottom: $spacing--md;

                @include breakpoint (small only) {
                    display: none;
                }//end small only breakpoint
            }//end &:before

            @include breakpoint (small only) {
                font-size: 36px;
                line-height: 44px;
            }//end small only breakpoint
        }//end h1

        p {
            max-width:465px;
            color: get-color(inverse);
            font-family: $font--heavy;
            margin-bottom: $spacing--md;

            @include breakpoint (small only) {
                font-size: 1rem;
            }//end @include breakpoint (small only)
        }//end p

        .sl_form {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            max-width: 450px;

            @include breakpoint (small only) {
                flex-direction: column;
            }//end small only breakpoint

            input {
                color: #9B9B9B;
                font-family: $font--medium;
                font-size: 1.125rem;
                height: 50px;
                flex: 1 1 48%;
                margin-bottom: $spacing--xs;
                border: 2px solid #9B9B9B;

                @include breakpoint (small only) {
                    flex: 1 1 100%;
                    margin-left: 0!important;
                    margin-right: 0!important;
                    margin-bottom: $spacing--xs/2;

                    &:last-of-type {
                        margin-bottom: $spacing--xs;
                    }
                }//end small only breakpoint

                @include placeholder {
                    color: #9B9B9B;
                }//end @include placeholder
            }//end input

            input:nth-child(1){
                margin-right: 2%;
            }//end input:nth-child
    
            input:nth-child(2){
                margin-left: 2%;
            }//end input:nth-child

            input:nth-child(3){
                flex: 1 1 100%;
            }

            .sl_button {
                flex: 0 0 auto;
                align-self: flex-start;
                color:#fff;
                border: none;
            }//end .sl_button
        }//end .sl_form
        
    }//end &__card
}//end .sl_billboard
