.sl_info {
    padding: $spacing--xxl 0;

    @include breakpoint (medium only) {
        padding: $spacing--lg 0;
    }//end medium only breakpoint

    @include breakpoint (small only) {
        padding: $spacing--md 0;
    }//end small only breakpoint

    h2 {
        text-align:center;
        color: get-color(primary);
        font-size: 3rem;
        margin-bottom: $spacing--md;

        @include breakpoint (small only){
            font-size: 2rem;
        }
    }//end h2

    &__grid {
        & > .sl_row {
            display: flex;
            flex-flow: row wrap;

            &:before, &:after {
                display: none;
            }//end &:before, &:after
        }//end> .sl_row
    }//end &__grid

    &__items {
        margin-bottom: $spacing--sm;

        @include breakpoint (small only) {
            padding: 0;
            margin-bottom: $spacing--xs;
        }//end small only downbreakpoint
    }//end &__items

    &__card {
        overflow: hidden;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;

        @include breakpoint (medium down){
            flex-direction: column;
            flex-wrap: nowrap;
        }//end @include breakpint medium down

        &__image {
            flex: 0 0 15%;
            padding: $spacing--xs/2;
            display: flex;
            align-items: flex-start;
            justify-content: center;

            @include breakpoint (medium only) {
                flex: 0 0 auto;
            }//end medium only breakpoint

            @include breakpoint (small only) {
                flex: 1 1 100%;
            }//end small only breakpoint

            img {
                width: 100%;
                height: auto;
                max-width: 55px;

                @include breakpoint (medium down) {
                    max-width: 50px;
                }//end medium down breakpoint
            }//end img
        }//end &__image

        &__content {
            flex: 1 1 85%;
            padding: $spacing--xs;
            align-items: center;
            justify-content: center;
            width: auto;

            @include breakpoint (medium only) {
                flex: 1 1 100%;
            }//end medium only breakpoint

            @include breakpoint (small only) {
                text-align: center;
                padding: 0;
                flex: 1 1 100%;
                margin-bottom: $spacing--sm;
            }//end small only breakpoint

            h3 {
                color: get-color(primary);
                font-size: 1.75rem;

                @include breakpoint (large only) {
                    font-size: 1.5rem;
                }//end large only breakpoint
            }//end h3

            p {
                color: get-color(default);
            }//end p

            a {
                color: #00857a;

                &:hover {
                    text-decoration: underline;
                }//end &:hover
            }//end a


            & > :last-child {
                margin-bottom: 0;
            }//end & > :last-child
        }//end &__content
    }//end &__card
}//end .sl_info