.sl_infocta {
    background-color: get-color(primary);
    padding: $spacing--xxl 0;

    @include breakpoint (medium only) {
        padding: $spacing--lg 0;
    }//end medium only breakpoint

    @include breakpoint (small only) {
        padding: $spacing--md 0;
        padding-bottom: 6rem;
    }//end small only breakpoint

    h2 {
        color: #FFF;
        font-size: 3rem;
        text-align: center;
        margin-bottom: $spacing--md;

        @include breakpoint (small only) {
            font-size: 2rem;
            line-height: 46px;
            text-align:left;
        }
    }//end h2

    &__grid {
        display: flex;
        flex-flow: row wrap;

        .sl_cell {
            margin-bottom: $spacing--sm;
            float: none;

            @include breakpoint (small only) {
                padding: 0;

                &:last-of-type {
                    margin-bottom: 0;
                }//end &:last-of-type
            }//end small only breakpoint
        }//emd .sl_cell
    }//end &__grid

    &__card {
        height: 100%;
        overflow: hidden;
        position: relative;

        &__image {
            min-height: 207px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center 25%;
        }//end &__image

        &__content {
            padding-top: $spacing--md;

            @include breakpoint(small only){
                padding-bottom: 1rem;
            }
        }//end &__content

        h3 {
            color: #FFFFFF;
            font-size: 28px;
            font-weight: 900;
            line-height: 38px;
            margin-bottom: $spacing--xs/4;
            text-transform: none;

            @include breakpoint (small only) {
                font-size: 24px;
                line-height: 33px;
            }
        }//end h3

        p {
            color: #FFFFFF;
            font-size: 22px;
            font-weight: 500;
            line-height: 34px;

            @include breakpoint (small only) {
                font-size: 18px;
                font-weight: 500;
                line-height: 28px;
            }
        }
    }//end &__card

    &__cta {
        text-align: center;
        margin: 0 8rem;
        padding: $spacing--xxl 0 0;

        &:before {
            content: '';
            display: block;
            height: 3px;
            background-color: get-color(inverse);
            width: 86px;
            margin: 0 auto;
            margin-bottom: $spacing--sm;
        }//end &before;

        @include breakpoint (medium down) {
            padding: 0;
            margin: 0;
        }//end small only breakpoint

        h3 {
            color: get-color(inverse);
            font-size: 1.75rem;

            @include breakpoint (small only){
                font-size: 1.5rem;
            }
        }//end h3

        p {
            color: get-color(inverse);
            margin-bottom: $spacing--sm;
        }//end p

        .sl_button {
            text-align: center;
        }//end .sl_button
    }//end &__cta
}//end .sl_staff