.sl_insurance {
    padding: $spacing--xxl 0;

    @include breakpoint (medium only) {
        padding: $spacing--lg 0;
    }//end medium only breakpoint

    @include breakpoint (small only) {
        padding: $spacing--md 0;
    }//end small only breakpoint

    &__content {
        h2 {
            color: get-color(primary);
            font-size: 3rem;
            margin-bottom: $spacing--md;

            @include breakpoint (small only){
                font-size: 2rem;
            }
        }//end h2

        h3 {
            color: get-color(primary);
            font-size: 1.75rem;
            margin-bottom: $spacing--xs;

            @include breakpoint (small only){
                font-size: 1.5rem;
            }
        }//end h3

        p {
            margin-bottom: $spacing--md;
        }//end p

        p, li {
            color: get-color(default);
        }//end p,li
    }//end &__content

    &__table {

        @include breakpoint (small only) {
            display:none;
        }

        tr 

        th {
            background-color: get-color(secondary);
            color: get-color(inverse);
            border-right: 1px solid get-color(inverse);
            font-weight:600;
        }

        th:nth-child(2), th:nth-child(3) {
            background-color: get-color(primary);
        }

        tr:nth-child(odd) {
            background-color: get-color(accent2);
        }

        tr:nth-child(even){
            background-color: get-color(accent3);
        }

        td {
            border-right: 1px solid get-color(inverse);
            text-align:center;
            
            span {
                display:table;
                margin-left: auto;
                margin-right: auto;
                color:#009E91;
            }
    
            .fa:before {
                padding-right: 4px;
            }
        }

        td:nth-child(1) {
            color: get-color(primary);
            font-weight: 600;
        }
    }

    .mobile-table {

        @include breakpoint (medium up) {
            display:none;
        }

        .coverage {
            background-color: get-color(accent3);
            color: get-color(primary);
            font-family: $font--heavy;
        }

        .original {
            background-color: #f7fcfc;
            border-bottom: 2px solid get-color(accent3);
        }

        .prominence {
            background-color: #f7fcfc;
        }

        .fa:before {
            padding-right: 4px;
            color:#009E91;
        }
    }

}