.sl_thankyou {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 768px;
    padding-top: 122px;

    @include breakpoint (small only) {
        background-position: 75% center;
        padding-top: 0;
    }//end small only breakpoint

    .sl_inner {
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: flex-end;
    }//end .sl_inner

    &__card {
        padding: $spacing--xxl 0;
        max-width: 650px;
        text-align: center;

        h1 {
            color: get-color(secondary);
            font-size: 4rem;
            margin-bottom: $spacing--md;

            @include breakpoint (small only) {
                font-size: 3.5rem;
            }//end small only breakpoint
        }//end h1

        p {
            color: get-color(primary);
            margin-bottom: $spacing--md;
            font-size: 1.75rem;
        }//end p
        
    }//end &__card

}//end .sl_billboard